<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Library</title>
</head>
<body>
  <h1>Personal Library</h1>
  <p><a href='/books/new'>Add new book</a></p>
  <table>
    <thead>
      <tr>
        <th scope='col'>Title</th>
        <th scope='col'>Author</th>
      </tr>
    </thead>
    <tbody>
      <% books.forEach(book => { %>
        <tr>
          <th scope='row'><a href='/books/<%= book._id %>'><%= book.title %></a></th>
          <td><%= book.author %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>
